{% extends 'form_base.html' %}

{% block form %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>{{ form.username.label }}</label>
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            <label>{{ form.password.label }}</label>
            {{ form.password(class_="form-control") }}
        </div>
        <input type="submit" class="btn btn-success" value="Login">
    </form>
{% endblock form %}
{% block description %}
    <p><strong>Authenticate yourself!</strong><br>
        Your username and password are stored inside Flask session only within the application scope.
        This applications uses these credentials to authenticate your session with every request to GitHub
        using Base HTTP Authentication.
    </p>
{% endblock description %}
