{% extends 'base.html' %}

{% block extra_css %}
    <style>
        div.main-content {
            padding-top: 50px;
        }
    </style>
{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="row">
        <div class="col-md-12 text-center">
            You can go directly to API documentation
            <a href="/api" type="button" class="btn btn-default btn-block">Take me to API!</a>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            .. or browse simple UI which wraps up the API.
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="/login" type="button" class="btn btn-default btn-block">Authentication</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="/user" type="button" class="btn btn-default btn-block">Get user info</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="/followers" type="button" class="btn btn-default btn-block">Get followers info</a>
        </div>
        <div class="col-md-3 col-sm-12">
            <a href="/pull_request" type="button" class="btn btn-default btn-block">Create pull request</a>
        </div>
    </div>
</div>
{% endblock content %}
